/**
 * _landing.scss
 * Styles for the landing page
 */

.landing-title {
    color: $post-title-color;
    text-align: center;
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 0.7rem;
    font-size: 3.5em;
}

.authors {
    font-size: 1.25em; /* Font size for author names */
    font-style: italic; /* Italicize author names */
    margin-top: 5px;
    color: #555; /* A lighter color to distinguish from the title */
    text-align: center; /* Center the author names */
}