/**
 * _layout.scss
 * Styles for managing the structural hierarchy of the site.
 */

.container {
  max-width: 1000rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;
}

.ftr-links a {
  color: $post-title-color;
  padding: 0 0.3rem;
}
img {
  display: block;
  max-width: 100%;
  margin: 0 auto 1rem; /* 중앙 정렬을 위해 margin: 0 auto 추가 */
  border-radius: 5px;
}